:root {
    --primary: #0d6efd;
    --white: #ffffff;
    --gray: #f5f5f5;
    --silver_gray: #c0c0c0;
  }
  
  .header {
    width: 100%;
    height: 90%;
    background-image: url('https://images.unsplash.com/photo-1641981344598-d14b7d99524f?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxlZGl0b3JpYWwtZmVlZHw1NHx8fGVufDB8fHx8&auto=format&fit=crop&w=500&q=60');
    background-repeat: no-repeat;
    background-size: cover;
    padding: 0rem 0rem 10rem 0rem;
  }
  
  .header_parent a {
    color: var(--white);
    padding: 10px 75px 10px 75px;
    background-color: var(--primary);
    text-decoration: none;
    font-size: 14px;
    border-radius: 5px;
  }
  
  .header_parent a:hover {
    color: rgb(35, 120, 248);
    background-color: var(--white);
  
    transition: all 0.3s linear;
  }
  
  .nav_section {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  
  .nav_section .nav_left {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  
  .nav_section .nav_left a {
    font-weight: 600;
    margin-left: 0.5rem;
  }
  
  .header_parent {
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  /* Second Container Style Start */
  
  .second_container,
  .card-container {
    padding: 4rem 2rem 15em 2rem;
  }
  
  .second_container,
  .container_class1,
  .fifth_container {
    background-color: var(--gray);
  }
  
  .card-container {
    background-color: var(--white);
  }
  
  .card_body {
    margin-top: -15%;
  }
  
  .choose {
    margin-left: 20px;
  }
  
  /* Third Contianer / Card Continare style start */
  .third_container {
    padding: 8rem 0rem;
    background-color: var(--white);
    margin: 10px;
  }
  
  .container_class {
    width: 95%;
    background-color: var(--white);
    /* background-color:red; */
    padding-bottom: 10rem;
  }
  
  .container_card {
    margin-top: -150px;
  }
  
  .container_card1,
  .container_card {
    /* width: 100%; */
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
  }
  
  .card_box {
    width: 320px;
    background-color: var(--white);
    padding: 1.5rem;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  }
  
  /* Fourth container style start */
  
  .fourth_container {
    width: 100%;
    height: 21vw;
    background-image: url('https://images.unsplash.com/photo-1642032785710-a812cff7b889?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=871&q=80');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  .paragraph {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 55px;
  }
  
  .paragraph1 {
    margin-top: 55px;
  }
  
  .paragraph1 h6 {
    font-size: 12px;
  }
  
  /* Fifth Container Style start */
  .card_image {
    width: 10%;
  }
  
  .card_box1 {
    width: 350px;
    height: 40vh;
    display: flex;
    flex-direction: row;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    padding: 1.5 0rem 1.5rem 1.5rem;
    border-radius: 10px;
  }
  
  .bottom_box1 {
    width: 90%;
    padding: 1.5rem 0rem 1.5rem 1.5rem;
    margin-right: 10px;
  }
  
  .card_box1 img {
    height: 100%;
    width: 100%;
  }
  
  .card_box i {
    color: var(--primary);
  }
  
  .container_class1 {
    padding: 5rem 0rem;
  }
  
  .fifth_container {
    padding: 10rem 4rem;
  }
  
  .card_container {
    display: flex;
    flex-direction: row;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    border-radius: 10px;
    justify-content: space-evenly;
  }
  
  .left_contianer {
    width: 50%;
    padding: 1rem 1rem;
  }
  
  .right_contianer {
    border-top-right-radius: 20px;
  }
  
  .right_contianer img {
    height: 100%;
    right: -50px;
  }
  
  /* Six secton Style */
  .catagory {
    display: flex;
    flex-direction: column;
    margin-top: 6rem;
  }
  
  .catagory .top_container {
    width: 30%;
    display: flex;
    justify-content: space-between;
  }
  
  .catagory .top_container i {
    color: var(--primary);
  }
  
  .catagory h4 {
    margin-left: 30px;
    color: var(--silver_gray);
    font-weight: 600;
    text-decoration: underline;
  
    font-size: 14px;
  }
  
  .catagory ul li {
    list-style: none;
    font-size: 14px;
    line-height: 2;
    font-weight: 700;
    color: #000;
  }
  
  .social_container {
    display: flex;
    flex-direction: column;
    margin-top: 6rem;
  }
  
  .social_container .social_right {
    display: flex;
    flex-direction: row;
  }
  
  .social_container .social_right .social {
    width: 30px;
    height: 30px;
    border-radius: 15px;
    margin-left: 20px;
    background-color: var(--primary);
    align-items: center;
    text-align: center;
    display: flex;
    justify-content: center;
  }
  
  .social_container .social_right .social .fab {
    color: var(--white);
    margin-top: 1px;
  }
  